In [1]:
import pandas as pd
from dotenv import load_dotenv
import os
import numpy as np
from menon.postgres import setup_rdb_connection

In [ ]:
from IPython.display import display, HTML
display(HTML("<style>.container { width:90% !important; }</style>"))

In [ ]:
RDB_DIR = Path(r'/home/aljoschaschopfer/menon_database/masterdb/Regnskapsdata behandlet/Hovedfiler') # Standard
#kolonner_rdb = pd.read_csv(RDB_DIR / 'Utvalg_variabler_2003_2022.csv', nrows=100).columns.tolist()

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
relevant_varlist = [
    'orgnr',
    'firmanavn',
    'komm_nr',
    'kommunenavn',
    'besokspostnr',
    'selskap_form',
    'ans2003',
    'ans2004',
    'ans2005',
    'ans2006',
    'ans2007',
    'ans2008',
    'ans2009',
    'ans2010',
    'ans2011',
    'ans2012',
    'ans2013',
    'ans2014',
    'ans2015_aug_ny',
    'ans2015_ny',
    'ans2016_aug_ny',
    'ans2016_ny',
    'ans2017_aug_ny',
    'ans2017_ny',
    'ans2018_aug_ny',
    'ans2018_ny',
    'ans2019_aug_ny',
    'ans2019_ny',
    'ans2020_aug_ny',
    'ans2020_ny',
    'ans2021_aug_ny',
    'ans2021_ny',
    'ans2022_aug_ny',
    'ans2022_ny',
    'ans_foretak2003',
    'ans_foretak2004',
    'ans_foretak2005',
    'ans_foretak2006',
    'ans_foretak2007',
    'ans_foretak2008',
    'ans_foretak2009',
    'ans_foretak2010',
    'ans_foretak2011',
    'ans_foretak2012',
    'ans_foretak2013',
    'ans_foretak2014',
    'ans_foretak2015_aug_ny',
    'ans_foretak2015_ny',
    'ans_foretak2016_aug_ny',
    'ans_foretak2016_ny',
    'ans_foretak2017_aug_ny',
    'ans_foretak2017_ny',
    'ans_foretak2018_aug_ny',
    'ans_foretak2018_ny',
    'ans_foretak2019_aug_ny',
    'ans_foretak2019_ny',
    'ans_foretak2020_aug_ny',
    'ans_foretak2020_ny',
    'ans_foretak2021_aug_ny',
    'ans_foretak2021_ny',
    'ans_foretak2022_aug_ny',
    'ans_foretak2022_ny',
    'vs2003',
    'vs2004',
    'vs2005',
    'vs2006',
    'vs2007',
    'vs2008',
    'vs2009',
    'vs2010',
    'vs2011',
    'vs2012',
    'vs2013',
    'vs2014',
    'vs2015',
    'vs2016',
    'vs2017',
    'vs2018',
    'vs2019',
    'vs2020',
    'vs2021',
    'vs2022',
    'oms2003',
    'oms2004',
    'oms2005',
    'oms2006',
    'oms2007',
    'oms2008',
    'oms2009',
    'oms2010',
    'oms2011',
    'oms2012',
    'oms2013',
    'oms2014',
    'oms2015',
    'oms2016',
    'oms2017',
    'oms2018',
    'oms2019',
    'oms2020',
    'oms2021',
    'oms2022',]

In [2]:
con = setup_rdb_connection()

In [3]:
Rogaland = {
    1101 : "Eigersund",
    1103 : "Stavanger",
    1106 : "Haugesund",
    1108 : "Sandnes",
    1111 : "Sokndal",
    1112 : "Lund",
    1114 : "Bjerkreim",
    1119 : "Hå",
    1120 : "Klepp",
    1121 : "Time",
    1122 : "Gjesdal",
    1124 : "Sola",
    1127 : "Randaberg",
    1130 : "Strand",
    1133 : "Hjelmeland",
    1134 : "Suldal",
    1135 : "Sauda",
    1144 : "Kvitsøy",
    1145 : "Bokn",
    1146 : "Tysvær",
    1149 : "Karmøy",
    1151 : "Utsira",
    1160 : "Vindafjord"
}

In [4]:
spørring = """
select
    avd.orgnr,
    avd.orgnr_avd,
    avd.firmanavn,
    avd.oms,
    avd.vs,
    avd.ans_avd,
    avd.komm_nr_avd,
    avd.aar,
    avd.komm_navn_avd,
    avd.bkode_avd_loepende,
    pop.prioritert_populasjonstilhoerighet
from avdeling_utvalg as avd
left join pop
on avd.orgnr = pop.orgnr
and avd.aar = pop.aar
where (komm_nr_avd = 1101
or komm_nr_avd = 1103
or komm_nr_avd = 1106
or komm_nr_avd = 1108
or komm_nr_avd = 1111
or komm_nr_avd = 1112
or komm_nr_avd = 1114
or komm_nr_avd = 1119
or komm_nr_avd = 1120
or komm_nr_avd = 1121
or komm_nr_avd = 1122
or komm_nr_avd = 1124
or komm_nr_avd = 1127
or komm_nr_avd = 1130
or komm_nr_avd = 1133
or komm_nr_avd = 1134
or komm_nr_avd = 1135
or komm_nr_avd = 1144
or komm_nr_avd = 1145
or komm_nr_avd = 1146
or komm_nr_avd = 1149
or komm_nr_avd = 1151
or komm_nr_avd = 1160)
and avd.aar > 2020
and (avd.selskap_form = 'AS'
or avd.selskap_form = 'ASA')
"""

In [5]:
#rogaland_df = pd.read_sql(spørring, con = con)

In [6]:
#rogaland_df

,orgnr,orgnr_avd,firmanavn,oms,vs,ans_avd,komm_nr_avd,aar,komm_navn_avd,bkode_avd_loepende,prioritert_populasjonstilhoerighet
0,976298918,976371828,INGVARS REISER AS,3612.000000,1547.000000,2.0,1127,2021,RANDABERG,49392.0,reiseliv
1,988368741,988368741,ROTA SOFTWARE AS,NaN,NaN,NaN,1103,2021,STAVANGER,NaN,ikt
2,998795664,998795664,EVOLVERE AS,457.000000,239.000000,0.0,1121,2021,TIME,70220.0,kunnskapstjenester
3,988742317,988742317,RØRLEGGERN AS,NaN,NaN,NaN,1146,2021,TYSVÆR,43221.0,bygg_og_anlegg
4,820509692,920540171,REMOTE HEALTH INTERNATIONAL AS,27645.000000,18312.000000,14.0,1124,2021,SOLA,86909.0,helse_hovedaktivitet
...,...,...,...,...,...,...,...,...,...,...,...
56141,921770359,971926422,YDRA AS,59303.846154,22032.307692,29.0,1149,2021,KARMØY,28130.0,maritim
56142,921770359,971949805,YDRA AS,17791.153846,6609.692308,9.0,1146,2021,TYSVÆR,28130.0,maritim
56143,927817489,927817489,NORDIC EAGLE AS,0.000000,0.000000,0.0,1103,2021,STAVANGER,70220.0,kunnskapstjenester
56144,925173282,925173282,CAPENORTH AS,443.000000,356.000000,1.0,1103,2021,STAVANGER,64308.0,finans
56145,925808466,997401409,BRYNE STEININDUSTRI AS,20205.000000,11325.000000,5.0,1121,2021,TIME,23700.0,annen_industri

In [6]:
#rogaland_df.to_csv("rogaland_df.csv")

In [7]:
rogaland_df = pd.read_csv("rogaland_df.csv")
rogaland_df = rogaland_df.drop("Unnamed: 0", axis=1)

In [8]:
rogaland_df = rogaland_df.drop_duplicates()
rogaland_df = rogaland_df[rogaland_df['bkode_avd_loepende']!=0]
rogaland_df = rogaland_df.dropna(subset=['bkode_avd_loepende'])
rogaland_df['bkode_avd_loepende'] = rogaland_df['bkode_avd_loepende'] // 1000
rogaland_df['bkode_avd_loepende'] = rogaland_df['bkode_avd_loepende'].astype(int)

In [9]:
rogaland_df['bkode_avd_loepende'].unique()

array([45, 25, 50, 41,  9, 68, 74, 69, 71, 70, 30, 64, 86, 26, 62, 56, 47,
       49, 46, 31, 33, 61, 43, 78, 28, 81, 77, 96, 93, 16, 85, 39, 90, 88,
       10,  3, 32, 20, 73, 63, 55, 82, 79, 38, 35, 42, 87,  1, 29, 72, 66,
       52, 94, 22, 75, 53, 23, 60,  6, 59, 58, 17, 18, 13,  8, 95, 15, 27,
        2, 51, 11, 24, 37, 80, 36, 14, 21, 19, 91, 84,  7, 92, 97, 65, 12])

In [10]:
nace_df = pd.read_excel("nace.xlsx")
nace_df = nace_df.set_index("bkode_avd_loepende")

In [11]:
nace_df

,nace_navn,Navn næringshovedområde
bkode_avd_loepende,,
1,"Jordbruk og tjenester tilknyttet jordbruk, jak...","Jordbruk, skogbruk og fiske"
2,Skogbruk og tjenester tilknyttet skogbruk,"Jordbruk, skogbruk og fiske"
3,"Fiske, fangst og akvakultur","Jordbruk, skogbruk og fiske"
5,Bryting av steinkull og brunkull,Bergverksdrift og utvinning
6,Utvinning av råolje og naturgass,Bergverksdrift og utvinning
...,...,...
94,Aktiviteter i medlemsorganisasjoner,Annen tjenesteyting
95,"Reparasjon av datamaskiner, husholdningsvarer ...",Annen tjenesteyting
96,Annen personlig tjenesteyting,Annen tjenesteyting
97,Lønnet arbeid i private husholdninger,Lønnet arbeid i private husholdninger
99,Internasjonale organisasjoner og organer,Internasjonale organisasjoner og organer

In [12]:
rogaland_df['bkode_avd_loepende'].isnull().sum()

0

In [13]:
utslipp = pd.read_excel("Utslipp-kopi.xlsx")

In [14]:
rogaland_utslipp = pd.merge(rogaland_df, utslipp, how="left", on="bkode_avd_loepende")

In [15]:
rogaland_utslipp["utslipp_tonn"] = rogaland_utslipp["vs"]*rogaland_utslipp["utslipp_per_millioner_kr_vs"]/1000

In [16]:
rogaland_utslipp.loc[rogaland_utslipp["firmanavn"]=="NYE VEIER AS"]

,orgnr,orgnr_avd,firmanavn,oms,vs,ans_avd,komm_nr_avd,aar,komm_navn_avd,bkode_avd_loepende,prioritert_populasjonstilhoerighet,utslipp_per_millioner_kr_vs,utslipp_tonn
24763,915488099,921170599,NYE VEIER AS,197213.592233,-34106.796117,6.0,1124,2021,SOLA,42,bygg_og_anlegg,10.9242,-372.589462

In [17]:
største_utslippspunkter_næringer = rogaland_utslipp.sort_values(["prioritert_populasjonstilhoerighet","utslipp_tonn"], ascending = False).drop_duplicates(["prioritert_populasjonstilhoerighet", "orgnr_avd"]).groupby(["prioritert_populasjonstilhoerighet"]).head(n=10)

In [18]:
største_utslippspunkter = rogaland_utslipp.sort_values("utslipp_tonn", ascending = False).head(n=20).drop_duplicates("orgnr_avd")

In [19]:
utslippspunkter_alle = rogaland_utslipp.sort_values("utslipp_tonn", ascending = False).drop_duplicates("orgnr_avd")

In [20]:
utslippspunkter_alle.bkode_avd_loepende.sort_values().unique()

array([ 1,  2,  3,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
       20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 35, 36, 37,
       38, 39, 41, 42, 43, 45, 46, 47, 49, 50, 51, 52, 53, 55, 56, 58, 59,
       60, 61, 62, 63, 64, 65, 66, 68, 69, 70, 71, 72, 73, 74, 75, 77, 78,
       79, 80, 81, 82, 84, 85, 86, 87, 88, 90, 91, 92, 93, 94, 95, 96, 97])

In [24]:
nace_matching = pd.read_excel("nace_matching.xlsx")
nace_matching.rename(columns={'Nace': 'bkode_avd_loepende'}, inplace=True)
nace_matching = nace_matching.set_index("bkode_avd_loepende")

In [25]:
nace_matching

                   IoT_nace
bkode_avd_loepende
1                         1
2                         2
3                         3
3                         3
5                     05_09
...                     ...
86                       86
87                    87_88
84                       84
88                    87_88
84                       84

[101 rows x 1 columns]

In [26]:
utslippspunkter_alle = pd.merge(left=utslippspunkter_alle, right=nace_matching, how="left", on="bkode_avd_loepende")

In [27]:
utslippspunkter_alle = utslippspunkter_alle.dropna(subset=["IoT_nace"])

In [28]:
utslippspunkter_alle["IoT_nace"].isna().sum()

0

In [29]:
utslippspunkter_alle

,orgnr,orgnr_avd,firmanavn,oms,vs,ans_avd,komm_nr_avd,aar,komm_navn_avd,bkode_avd_loepende,prioritert_populasjonstilhoerighet,utslipp_per_millioner_kr_vs,utslipp_tonn,IoT_nace
0,990888213,990888213,EQUINOR ENERGY AS,3.866180e+08,3.348181e+08,0.0,1103,2021,STAVANGER,6,petroleum,27.0543,9.058271e+06,05_09
1,967827363,972361682,BRISTOW NORWAY AS,1.493780e+06,4.902423e+05,256.0,1124,2021,SOLA,51,petroleum,2469.5937,1.210699e+06,51
2,927066440,973152637,TOTALENERGIES EP NORGE AS,4.970500e+07,3.934700e+07,101.0,1103,2021,STAVANGER,6,petroleum,27.0543,1.064506e+06,05_09
3,974414228,974291975,CHC HELIKOPTER SERVICE AS,7.800234e+05,3.020966e+05,122.0,1124,2021,SOLA,51,petroleum,2469.5937,7.460560e+05,51
4,918110127,918110127,CONOCOPHILLIPS SKANDINAVIA AS,3.538600e+07,2.549700e+07,0.0,1124,2021,SOLA,6,petroleum,27.0543,6.898035e+05,05_09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51697,915854559,915854559,AS DEG & MEG',NaN,NaN,NaN,1101,2021,EIGERSUND,97,personlige_tjenester,1.2926,NaN,97
51698,995391287,995391287,VESTMARINE BÅT AS,NaN,NaN,NaN,1149,2021,KARMØY,47,maritim,4.9877,NaN,47
51699,991367020,991367020,ITALE STAVANGER AS,NaN,NaN,NaN,1103,2021,STAVANGER,46,handel,4.9877,NaN,46
51700,996744523,996744523,BOLIGEIENDOM 5 AS,NaN,NaN,NaN,1106,2021,HAUGESUND,68,eiendom,0.4170,NaN,68
51701,924971312,924971312,PERKZ AS,NaN,NaN,0.0,1103,2021,STAVANGER,62,ikt,0.1916,NaN,62_63

In [30]:
input_rvm = pd.pivot_table(utslippspunkter_alle, values="oms", index="komm_nr_avd", columns="IoT_nace", aggfunc='sum')

In [31]:
utslippspunkter_alle.groupby(["komm_nr_avd", "IoT_nace"], as_index=False).oms.sum()

     komm_nr_avd IoT_nace            oms
0           1101        1     511.000000
1           1101        2    1063.000000
2           1101        3  131458.000000
3           1101       16  285788.658154
4           1101       18   17460.000000
..           ...      ...            ...
977         1160    62_63  285931.900473
978         1160    69_70   65914.187500
979         1160    74_75    2168.000000
980         1160    80_82  115776.750000
981         1160    87_88   53407.462355

[982 rows x 3 columns]

In [32]:
input_rvm

IoT_nace,1,2,3,16,17,18,21,22,23,24,...,37_39,41_43,55_56,59_60,62_63,69_70,74_75,80_82,87_88,90_92
komm_nr_avd,,,,,,,,,,,,,,,,,,,,,
1101,511.0,1063.0,1.314580e+05,2.857887e+05,NaN,17460.000000,0.000000e+00,0.000000,8.334700e+04,NaN,...,334361.343301,2.888869e+06,1.655038e+05,NaN,5.656850e+05,9.298209e+04,1.138000e+04,4.172943e+04,109734.133333,NaN
1103,310024.0,479.0,1.883406e+06,1.746229e+05,201390.000000,352672.418615,5.333863e+04,29185.000000,1.900093e+05,0.000000e+00,...,557700.339671,1.035753e+07,3.634890e+06,326764.891465,6.750117e+06,2.853683e+06,1.104005e+06,1.993272e+06,578081.774528,109235.769231
1106,854.0,92.0,4.616776e+05,7.238000e+03,NaN,6737.000000,2.072906e+04,55034.000000,2.358400e+04,NaN,...,50718.234177,1.984185e+06,8.155587e+05,64105.219869,8.177160e+05,3.763903e+05,7.639000e+04,2.916404e+05,448989.699920,25156.000000
1108,157597.0,8766.0,3.716595e+05,1.904297e+05,61478.592593,27919.129870,2.353254e+05,183921.000000,1.111156e+06,NaN,...,640637.325437,1.184440e+07,1.943790e+06,59358.600000,2.109826e+06,1.257787e+06,2.519135e+05,6.298862e+05,682801.377852,19887.538462
1111,4210.0,0.0,2.115800e+04,NaN,NaN,NaN,2.041982e+04,2016.000000,3.110195e+04,4.500000e+02,...,NaN,2.587910e+05,2.772200e+04,392.000000,3.561000e+03,3.116000e+03,4.860000e+02,8.000000e+00,33293.933333,NaN
1112,NaN,NaN,NaN,1.261511e+06,NaN,NaN,NaN,57619.959732,NaN,NaN,...,NaN,1.493189e+05,1.024000e+04,0.000000,2.875100e+04,5.070000e+02,NaN,1.300000e+01,NaN,NaN
1114,3133.0,24158.0,2.800000e+01,2.014700e+04,NaN,NaN,NaN,NaN,0.000000e+00,NaN,...,NaN,3.379600e+05,2.399597e+04,NaN,NaN,1.097600e+04,8.691000e+03,3.400000e+02,21396.933333,NaN
1119,408437.0,9936.0,4.917000e+04,1.301000e+03,NaN,5748.000000,0.000000e+00,923.000000,3.201659e+05,NaN,...,113824.291262,3.971864e+06,5.259700e+04,1259.000000,3.818000e+03,2.747351e+04,1.670100e+04,7.224700e+04,40366.177175,NaN
1120,578699.0,NaN,4.304400e+04,4.490900e+04,NaN,9543.000000,3.014700e+04,0.000000,2.954422e+05,NaN,...,30749.345070,2.985209e+06,1.319369e+05,8312.000000,4.637000e+03,6.777300e+04,4.350500e+04,7.663446e+04,72843.162004,NaN
1121,108950.0,3433.0,NaN,7.072632e+04,NaN,77.000000,1.052961e+04,17237.000000,2.429400e+04,0.000000e+00,...,31901.000000,2.570368e+06,1.813909e+05,2132.000000,1.466281e+05,1.069750e+05,6.954500e+04,3.189400e+04,124593.580116,NaN
1122,8341.0,NaN,0.000000e+00,5.010530e+05,NaN,266901.000000,NaN,28812.562500,6.046271e+04,NaN,...,1835.000000,5.483651e+05,8.811146e+04,65.000000,1.570500e+04,2.253188e+04,3.177300e+04,2.048660e+04,46076.841244,NaN
1124,108199.0,0.0,3.542800e+04,4.700000e+02,NaN,2178.000000,9.874000e+03,13736.000000,9.921300e+04,7.836718e+04,...,381683.072740,4.854425e+06,6.338234e+05,226.000000,1.431848e+06,4.817310e+05,1.249160e+05,3.173170e+05,273541.362437,NaN
1127,8831.0,545.0,5.083890e+04,NaN,NaN,14529.000000,5.000000e+01,NaN,0.000000e+00,NaN,...,293956.229981,5.440744e+05,4.523211e+04,883.000000,2.126600e+04,3.592900e+04,4.092100e+04,2.821169e+04,50291.700491,NaN
1130,0.0,1903.0,3.756058e+05,2.339900e+04,0.000000,0.000000,NaN,NaN,0.000000e+00,2.570110e+05,...,13512.913402,8.875975e+05,1.142037e+05,NaN,7.313000e+03,7.963013e+04,1.377300e+04,2.979582e+04,102532.242572,NaN
1133,4830.0,782.0,1.334111e+06,0.000000e+00,NaN,0.000000,0.000000e+00,71177.597315,2.208624e+04,NaN,...,0.000000,1.424706e+05,2.294558e+04,NaN,NaN,1.651026e+04,2.262000e+03,9.315358e+03,NaN,NaN
1134,NaN,1903.0,1.573246e+06,4.142000e+04,NaN,NaN,1.361321e+04,NaN,0.000000e+00,0.000000e+00,...,11493.000000,3.277686e+05,4.924700e+04,NaN,4.834333e+03,4.701988e+04,4.698000e+03,1.357787e+04,NaN,NaN
1135,NaN,1184.0,0.000000e+00,1.050000e+02,NaN,NaN,NaN,NaN,5.223800e+04,2.233845e+06,...,NaN,3.419760e+05,4.026900e+04,NaN,4.307000e+03,1.138961e+04,3.707000e+03,1.357940e+04,17374.000000,1322.000000
1144,NaN,NaN,1.626101e+05,2.035700e+04,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.823520e+05,8.785829e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1145,NaN,NaN,8.999145e+05,NaN,NaN,NaN,NaN,0.000000,8.049900e+04,NaN,...,NaN,1.154600e+04,0.000000e+00,2339.000000,NaN,NaN,NaN,2.251000e+03,NaN,NaN
1146,29098.0,NaN,7.055305e+05,7.999600e+04,NaN,NaN,1.537350e+04,NaN,0.000000e+00,NaN,...,74018.605634,1.025809e+06,8.312186e+04,720.000000,2.480457e+05,3.569304e+04,3.185500e+04,1.306125e+05,44763.000000,NaN
1149,52002.0,7927.0,9.015499e+05,9.809887e+03,NaN,10896.000000,1.236130e+06,2459.000000,1.659209e+05,1.558659e+07,...,341095.793733,4.659341e+06,2.007909e+05,6301.000000,2.052516e+05,1.634050e+05,5.959118e+04,1.717639e+05,490187.630172,2395.892857
1151,NaN,NaN,1.978000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.000000e+00,1.375000e+03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1160,28292.0,0.0,9.511296e+05,3.480700e+04,NaN,5543.000000,NaN,0.000000,8.845148e+05,NaN,...,169885.500000,1.577047e+06,1.916287e+05,0.000000,2.859319e+05,6.591419e+04,2.168000e+03,1.157768e+05,53407.462355,NaN

In [33]:
input_rvm.to_excel("input_rvm_rogaland.xlsx")

In [65]:
utslippspunkter_alle.to_excel("utslippspunkter_alle.xlsx")

KeyboardInterrupt:

In [ ]:
utslipp_per_næring = rogaland_utslipp.drop_duplicates(["prioritert_populasjonstilhoerighet", "orgnr_avd"]).groupby(["prioritert_populasjonstilhoerighet"]).sum()
utslipp_per_nace = rogaland_utslipp.drop_duplicates(["bkode_avd_loepende", "orgnr_avd"]).groupby(["bkode_avd_loepende"]).sum()

In [22]:
utslipp_per_næring

,orgnr,orgnr_avd,oms,vs,ans_avd,komm_nr_avd,aar,bkode_avd_loepende,utslipp_per_millioner_kr_vs,utslipp_tonn
prioritert_populasjonstilhoerighet,,,,,,,,,,
andre_primærnæringer,277082203771,279134596038,4.582854e+06,1.817696e+06,1782.0,328145,592153,1062,62612.233600,2.109342e+05
annen_industri,518297440076,519476145295,7.753677e+06,2.119328e+06,2706.0,614998,1111550,16277,8099.908300,4.885808e+04
annet,68419210762,68755005511,3.212375e+06,9.337940e+05,1259.0,80180,145512,6125,15.409300,3.057735e+02
bygg_og_anlegg,5091438966802,5105240556135,5.885394e+07,1.815307e+07,22684.5,6014648,10870959,217373,68466.959700,3.096316e+05
eiendom,6741259812261,6749137000093,1.242406e+07,7.774721e+06,1898.0,7904308,14324848,481513,3073.143000,3.244642e+03
ferdigvarer,173328495070,174041656636,2.747285e+06,1.110110e+06,872.0,205232,371864,4274,816.657000,3.655447e+03
finans,2110403874964,2111195859543,1.538657e+07,8.147266e+06,1707.0,2462593,4468431,142010,45.514300,1.066462e+02
forretningsmessige_tjenester,1751288220156,1755239030953,8.516893e+06,5.576018e+06,11710.0,2066706,3755018,133008,2942.545900,7.233529e+03
forsyningsindustri,303306213821,303815535186,2.208766e+07,9.016029e+06,2107.0,356495,644699,11538,16869.373100,3.400605e+05
handel,7117429177405,7154608617579,1.028127e+08,1.722933e+07,25226.0,8378690,15185794,359795,37054.268200,8.657971e+04
helse_hovedaktivitet,1174169348776,1171417816513,8.369774e+06,3.611048e+06,5255.5,1375867,2499977,100394,1832.083300,3.850843e+03
holding_og_hovedkontortjenester,2435139501077,2434256088486,1.612716e+06,1.233256e+06,4.0,2859482,5179823,151272,17276.042342,1.103396e+05
ikt,1288594886026,1288463797033,1.655774e+07,7.316129e+06,5427.0,1525949,2772812,84681,445.014200,4.191428e+03
kunnskapstjenester,4426174686211,4423892643387,1.608654e+07,8.202301e+06,8631.0,5226585,9494658,332258,6298.483800,1.131094e+04
maritim,1348263179940,1352272629911,7.236457e+07,3.064262e+07,16820.0,1577769,2849610,64060,164681.485358,3.870362e+06
næringsmidler,324905783181,324497751055,1.883883e+07,3.049025e+06,3239.0,384074,695224,5059,3496.417600,3.209393e+04
personlige_tjenester,1941310228856,1948936165201,6.270086e+06,3.839337e+06,7985.0,2297081,4161239,181456,1889.891500,2.432992e+03
petroleum,1528680247598,1530710772069,1.053258e+09,6.366550e+08,40703.0,1760301,3197222,71582,28410.679404,1.924099e+07
prosess,66621466132,67431350185,1.874283e+07,2.089624e+06,1278.0,79663,143491,1583,13061.053700,8.650101e+05
reiseliv,2356954940934,2361918252590,9.846340e+06,4.281518e+06,13572.0,2779082,5044416,151026,46137.209604,6.256440e+04
sjømat_hovedaktivitet,441423076263,444790625781,2.067414e+07,3.982179e+06,2679.5,527950,947849,6242,12078.318212,1.252853e+05
teknologiindustri,35190032950,35061091019,1.316932e+05,5.752662e+04,33.0,41408,74777,1001,26.304600,6.588618e+01
transport_distribusjon_og_logistikk,763948195531,764318780934,1.128781e+07,3.929514e+06,4733.0,898792,1624884,40363,95070.764283,3.270018e+05

In [23]:
utslipp_per_nace = pd.merge(utslipp_per_nace, nace_df, how="left", on="bkode_avd_loepende")

In [24]:
utslipp_per_næringshovedområde = utslipp_per_nace.groupby(["Navn næringshovedområde"]).sum()

In [25]:
utslipp_per_næringshovedområde

,orgnr,orgnr_avd,oms,vs,ans_avd,komm_nr_avd,aar,utslipp_per_millioner_kr_vs,utslipp_tonn
Navn næringshovedområde,,,,,,,,,
Annen tjenesteyting,722544345893,724717750803,1.519684e+06,8.991997e+05,2021.0,854400,1550107,991.424200,1.162306e+03
Bergverksdrift og utvinning,647842416441,648404991075,1.043578e+09,6.281040e+08,32716.0,752958,1368217,18315.761100,1.699291e+07
Bygge- og anleggsvirksomhet,4941350386334,4952526467378,5.194850e+07,1.600831e+07,19958.5,5838493,10553662,57046.172400,1.748780e+05
"Elektrisitets-, gass-, damp- og varmtvannsforsyning",185912611783,185998215241,2.313527e+07,1.012522e+07,1574.0,217915,394095,6700.882500,3.479382e+05
"Faglig, vitenskapelig og teknisk tjenesteyting",5481922153065,5481046326057,2.438130e+07,1.224867e+07,11851.0,6453217,11723821,7498.372600,1.583264e+04
Finansierings- og forsikringsvirksomhet,2723843862121,2724024136349,1.584806e+07,8.540059e+06,1707.0,3181607,5771976,22.848000,6.832047e+01
Forretningsmessig tjenesteyting,2096351715736,2096332768109,1.625086e+07,9.612000e+06,15124.0,2465681,4470452,2859.231200,1.242447e+04
Helse- og sosialtjenester,1353079286462,1354627708670,7.344097e+06,4.799671e+06,7659.5,1589417,2879925,711.835000,2.256543e+03
Industri,2262321416516,2270678703029,1.039357e+08,2.484957e+07,23755.0,2669704,4822106,48656.381900,1.205989e+06
Informasjon og kommunikasjon,1677155062419,1680023163754,2.213142e+07,9.954398e+06,6999.0,1983673,3605464,428.208800,4.684101e+03
"Jordbruk, skogbruk og fiske",538154092464,541808026599,6.555783e+06,2.217693e+06,1777.5,642351,1153991,75973.929597,2.325473e+05
"Kulturell virksomhet, underholdning og fritidsaktiviteter",470304336056,471833233898,1.785932e+06,8.135310e+05,2535.0,557881,1012521,647.592600,1.051570e+03
Lønnet arbeid i private husholdninger,1913994755,1913994755,0.000000e+00,0.000000e+00,0.0,2204,4042,2.585200,0.000000e+00
"Offentlig administrasjon og forsvar, og trygdeordninger underlagt offentlig forvaltning",1905029132,1905493400,2.018971e+06,9.714000e+04,79.0,2211,4042,2.119400,1.029393e+02
Omsetning og drift av fast eiendom,7507440696706,7514747668330,1.303265e+07,8.040459e+06,2020.0,8802675,15951753,3291.381000,3.352872e+03
Overnattings- og serveringsvirksomhet,1869621562324,1876404643208,7.665808e+06,3.550413e+06,10833.0,2207249,4009664,5872.243200,1.050851e+04
Transport og lagring,1491340001591,1492229772481,3.689021e+07,1.907178e+07,11102.0,1750910,3164886,308272.474405,6.481624e+06
Undervisning,503324220831,503914666673,1.882397e+06,1.229171e+06,2001.0,596787,1083256,84.152000,1.929798e+02
"Vannforsyning, avløps- og renovasjonsvirksomhet",149457837391,150116117513,2.763302e+06,8.477554e+05,747.0,176676,319318,12315.515400,6.607940e+04
"Varehandel, reparasjon av motorvogner",7469158981048,7503687128139,1.061687e+08,1.820953e+07,26544.0,8779182,15913354,39273.149800,9.082369e+04

In [26]:
writer = pd.ExcelWriter('utslipp per næring.xlsx', engine='xlsxwriter')

In [27]:
# Write each dataframe to a different worksheet.
utslipp_per_næring.to_excel(writer, sheet_name='utslipp per næring')
utslipp_per_næringshovedområde.to_excel(writer, sheet_name="utslipp per næringshovedområde")
utslipp_per_nace.to_excel(writer, sheet_name="utslipp per nace")
writer.close()

In [28]:
writer = pd.ExcelWriter('største_utslippspunkter.xlsx', engine='xlsxwriter')

In [29]:
# Write each dataframe to a different worksheet.
største_utslippspunkter.to_excel(writer, sheet_name='Største utslippspunkter')
største_utslippspunkter_næringer.to_excel(writer, sheet_name="Største utslippspunkter næring")
writer.close()